
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p >Made with ❤️ by Wayne Yong</p>
  </div>
</div>
</body>
</html>

<!-- 
</div>
<div id="page-container"></div>
  <div class="footer">
    <p>Made with ❤️ by Wayne Yong</p>
    <footer id="footer"></footer>
  </div>
</div>
</body>
</html> -->


<!-- <div id="page-container">
  <div id="content-wrap">
  </div>
  <footer id="footer"></footer>
</div> -->